<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.p.lodz.pl.studentshenchman"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dashboard.DashboardActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".abstract_ui.StudentShenchmanMainActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:launchMode="singleTop"/>
        <activity
            android:name=".timetable_plan.activity.TimetableActivity"
            android:label="@string/timetable_activity_title"
            android:launchMode="singleTop"/>
        <activity
            android:name=".SimpleScanner"
            android:launchMode="singleTop"/>
        <activity
            android:name=".timetable_plan.activity.SubjectDetailsActivity"
            android:label="@string/subject_details_activity_title"
            android:launchMode="singleTop"/>
    </application>

</manifest>
