div#settings
{
	float: left;
	width: 280px;
	padding: 20px;
	background: #333333;

}

div#single_setting
{
	float: left;
	width: 260px;
	margin: 5px 10px;
	border-bottom: 2px solid #1f9fde;
}

div#single_setting h2
{
	float: left;
	width: 80px;
	padding: 10px 0px;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

div#single_setting select
{
	float: left;
	width: 180px;
	height: 30px;
	padding: 0px 10px;
	font-size: 12px;
	background: #333333;
	color: #dddddd;
}

div#single_setting_group
{
	float: left;
	width: 160px;
	padding: 0px 10px;
	font-size: 12px;
	background: #333333;
	color: #dddddd;
}

div#download
{
	float: left;
	width: 260px;
	margin: 5px 10px;
	padding: 10px 0px;
	text-align: center;
	background: #1f9fde;
}

div#download a
{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}