body {
    background-color: #000;
}

span {
    display: inline-block;
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
}

.screen {
    background-color: #FFF;
}

.vertical_screen {
    width: 405px;
    height: 720px;
    padding: 16px;
}

.horizontal_screen {
    width: 720px;
    height: 405px;
    padding: 16px;
}

.logo {
    background-color: #750105;
    color: #FFFFFF;
    font-size: 64px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 25%;
    padding-bottom: 20px;
    display: inline-block;
}

