body {
    background-color: #000;
}

.screen {
    background-image: url("../images/bg.jpg");
    background-color: #FFF;
}

.vertical_screen {
    width: 405px;
    height: 720px;
    padding: 16px;
}

.horizontal_screen {
    width: 720px;
    height: 405px;
    padding: 16px;
}

.logo {
    background-image: url("../images/logo.png");
    background-size: cover;
    width: 100%;
    height: 25%;
    padding-bottom: 20px;
}

